<!DOCTYPE html>
<html lang="en">
<head lang="en" th:replace="header"></head>
<body>
<!-- Start your project here-->
<
<section class="vh-100" style="background-color: #f5f6f7;">

    <div class="container">
        <br>
        <form th:action="@{/user/admin}" th:object="${requestDTO}">
            <div class="row">
                <div class="col-md-8">
                    <input class="form-control" type="date" name="date">
                </div>
                <div class="col-md-4">
                    <input class="btn btn-primary" type="submit">
                </div>
            </div>
        </form>
        <br><br>
        <div class="row">
            <div class="col-10">
                <table width="100%">
                    <tr>
                        <th>Date</th>
                        <th>City</th>
                        <th>Temperature</th>
                        <th>message</th>
                    </tr>
                    <tr th:each="history: ${historyList}">
                        <td th:text="${history.getDate()}"/>
                        <td th:text="${history.getLocation().getName()}"/>
                        <td th:text="${history.getTemperature()}"/>
                        <td th:if="${history.getMessage()!=null}"><p th:text="${history.getMessage()}"></p></td>
                        <td th:if="${history.getMessage()==null}"><p>Not defined</p></td>
                        <td><a th:href="'/user/admin/message?id='+${history.getId()}">click for write message</a></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</section>
<!-- End your project here-->


</body>
<div th:replace="footer"></div>
</html>